.wide-side-menu .monitor-main-body, .page-container {
  max-width: 100%;
}

a {
  &:focus, &:hover {
    color: #000000;
  }
}

@media (max-width: 768px) {
  #alert-main-container {
    padding-left: 0px;
  }
}

.float-right {
  float: right;
}

.d-flex {
  display: flex;
}

.p-l-0 {
  padding-left: 0;
}

.p-r-0 {
  padding-right: 0;
}

.p-t-20 {
  padding-top: 20px !important;
}

.width-auto {
  width: auto;
}

.min-width-inherit {
  min-width: inherit !important;
}

.border-bottom-0 {
  border-bottom: none !important;
}

/*************************** Page header ********************/

.page-header-container {
  background-color: #e9f4fc;
  padding: 10px 0px;
  padding-left: 10px;

  .page-header {
    color: #7a7a7a;
    margin-right: 30px;
    font-size: 19px;
    font-weight: bold;
    padding: 0px !important;
  }

  .header-button {
    margin-right: 30px;
    color: #7a7a7a !important;
    border: none;
    background: none;

    i {
      padding-right: 10px;
    }

    &:hover {
      color: #040404 !important;
    }
  }
}

/************************** Forms ***********************/

.form-row > {
  .col, [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.form-group {
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.5rem;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.input-group-append, .input-group-prepend {
  display: -ms-flexbox;
  display: flex;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  > {
    .custom-file, .custom-select, .form-control, .form-control-plaintext {
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
    }

    .input-group-append {
      &:last-child > {
        .btn:not(:last-child):not(.dropdown-toggle), .input-group-text:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &:not(:last-child) > {
        .btn, .input-group-text {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .input-group-prepend > {
      .btn, .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .custom-select:not(:first-child), .form-control:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/******************** Progress bar ***************************/

.progress {
  padding-left: 15px;
  height: 20px;
  display: inline-block;
  width: 75%;
  position: absolute;

  .progress-bar {
    height: 100%;
    background: #fda867;
  }
}

/*********************** popover ****************************/

.popover {
  text-align: center;
  z-index: 106;
  display: block;
  max-width: 276px;
  font-size: 0.875rem;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  .arrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 0.5rem;
    margin: 0 0.3rem;
    &::before, &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }
}

.bs-popover-top, .bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}

.bs-popover-top > .arrow, .bs-popover-auto[x-placement^="top"] > .arrow {
  bottom: calc(-0.5rem - 1px);
}

.bs-popover-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-top > .arrow::after, .bs-popover-auto[x-placement^="top"] > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.bs-popover-right, .bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}

.bs-popover-right > .arrow, .bs-popover-auto[x-placement^="right"] > .arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^="right"] > .arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}

.bs-popover-bottom > .arrow, .bs-popover-auto[x-placement^="bottom"] > .arrow {
  top: calc(-0.5rem - 1px);
}

.bs-popover-bottom > .arrow::before, .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}

.bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.bs-popover-left, .bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}

.bs-popover-left > .arrow, .bs-popover-auto[x-placement^="left"] > .arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-left > .arrow::before, .bs-popover-auto[x-placement^="left"] > .arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-left > .arrow::after, .bs-popover-auto[x-placement^="left"] > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  &:empty {
    display: none;
  }
}

.popover-body {
  padding: 0.5rem 0.7rem;
  color: #212529;
}

.popover a {
  display: block;
  background-color: #3b7cff;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: center;

  &:hover, &:focus {
    color: #ffffff;
  }
}

/********************** New css ******************************/

.alert-page-container {
  background-color: $alert-container-background-color;
  margin: 10px 20px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.common-container {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid $alert-container-border-color;
}

/************************* Filter container ********************/

.filter-container {
  label {
    color: $filter-container-label-text-color;
  }

  .filter-control-group {
    width: 170px;
    max-width: 170px;
    padding-left: 0;
    display: inline-block;
    position: relative;
    margin-right: 15px;
    margin-left: 15px;
    &.date-time-range-picker{
      width: 370px;
      max-width: 370px;
    }
    .form-control {
      background-color: #f0f3f7 !important;
      border: none !important;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.primary-select-box {
  background-color: #f0f3f7 !important;
  border: none !important;
  font-size: 12px;
  cursor: pointer;
}

/***************************** severity ************************/

.severity-urgent {
  border-left: 3px solid #ff0000;
  padding-left: 5px;
}

.severity-critical {
  border-left: 3px solid #ff9800;
  padding-left: 5px;
}

.severity-high {
  border-left: 3px solid #39579a;
  padding-left: 5px;
}

.severity-medium {
  border-left: 3px solid #3b7cff;
  padding-left: 5px;
}

.severity-low {
  border-left: 3px solid #9c80f7;
  padding-left: 5px;
}

/************************ alert data table ********************/

.alert-data-table {
  width: 100%;
  color: #3b4859;

  th {
    color: #3b4859;
  }

  .alert-data-table-header {
    border-bottom: 1px solid #f8f9fb;
  }

  tr {
    &:nth-child(even) {
      background-color: #f8f9fb;
    }

    th, td {
      padding: 10px 0px 10px 20px;
    }
  }
}

.colored-label {
  color: #43a8ea;

  &:hover {
    color: #43a8ea !important;
  }
}

.gray-label {
  color: gray;
}

.primary-color-label {
  color: #3b4859;
}

.bold-label {
  font-weight: 500;
}

.italic-label {
  font-style: italic;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #a2c0d4;
}

.pointer-label {
  cursor: pointer;
}

/*********************************** Buttons *********************************/

.alert-blue-button {
  background: #3b7cff;
  color: #ffffff;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  min-width: 182px;
  text-align: center;

  &:hover, &:focus {
    background: #0f5efd !important;
    color: #ffffff;
  }
}

.alert-gray-button {
  background: #dde4e9;
  color: #8392a7;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  min-width: 182px;
  text-align: center;

  &:hover, &:focus {
    background: #dbe0e4 !important;
    color: #8392a7 !important;
  }
}

.alert-white-button {
  background: white;
  min-width: 182px;
  color: #3b4859;
  border: none;
  padding: 7px 20px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;

  &:hover, &:focus {
    background: #e6e6e6;
    color: #3b4859;
  }

  i {
    color: #57a4ff !important;
  }
}

.alert-data-table-container {
  &.common-container .alert-data-table {
    font-size: 13px;
  }

  .alert-data-table tr {
    th, td {
      padding: 8px 10px 8px 10px;
      text-align: center;
    }

    th {
      &:nth-child(1), &:nth-child(2) {
        text-align: left;
      }
    }

    td {
      &:nth-child(1), &:nth-child(2) {
        text-align: left;
      }
    }
  }
}

@media (max-width: 767px){
  .filter-search-control{
      float: left;
      margin-top: 15px;
  }
}

.alert-data-table-container{
  &.common-container{
    padding-left: 0;
    margin-left: 0;
  }

  .heading{
    display: block;
    padding-bottom: 30px;
    border-bottom: none;
    margin-bottom: 0;
    h2 {
      font-size: 18px;
      line-height: 24px;
      color: $page-title-color;
      font-weight: 600;
      margin-bottom: 2px;
    }
  }

  .all-alert-data-table{
    display: grid;
    width: 100%;
    .alerts-data-tabel{
      overflow-x: scroll;
      background-color: #ffffff;
      margin-top: 20px;     
      .alert-data-tabel{
        thead{
          tr{
            th{
              color: #3b4859;
              font-size: 13px;
              line-height: 18px;
              font-weight: 500;
              padding: 8px 15px 8px 15px;
              text-align: center;
              &:nth-child(1){
                text-align: left;
              }
              &:nth-child(2){
                text-align: left;
              }
              &:nth-child(3){
                text-align: left;
              }
              .checkbox{
                margin: 3px 0px 0 0;
                vertical-align: top;
              }
            }
          }
        }
        tbody{
          tr{
            &:nth-child(odd){
              background-color: #f8f9fb;
            }
            td{
              color: #323C47;
              font-size: 13px;
              line-height: 22px;
              font-weight: 400;
              padding: 8px 15px 8px 15px;
              text-align: center;
              &:nth-child(1){
                text-align: left;
              }
              &:nth-child(2){
                text-align: left;
              }
              &:nth-child(3){
                text-align: left;
              }
              &.there-no-data{
                text-align: center;
                font-size: 18px;
                font-weight: 600;
              }
              .pointer-label {
                position: relative;
                padding-left: 22px;
                .checkbox {
                  position: absolute;
                  left: 0;
                  top: 5px;
                }
              }
              .btn-link {
                color: #3b7cff !important;
                padding: 0 5px;
                font-size: 18px;
                line-height: 22px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }

}


@media (max-width: 992px){
  .common-container {
    .alert-white-button{
      min-width: inherit;
    }
  }
}


.contact-popup-container{
  .heading{
    border-bottom: none;
      h4{
          color: #323C47;
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          margin-bottom: 5px;
      }
      span{
          color: #A9B9C6;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          a{
              color: #49C740;
          }
      }
  }
  .upload-photo{
      position: relative;
      z-index: 10;
      margin-top: 10px;
      margin-bottom: 20px;
      .upload-icon{
          background-color: #438AFB;
          border-radius: 2px;
          padding: 0;
          width: 44px;
          height: 44px;
          color: #ffffff;
          font-size: 24px;
          line-height: 44px;
          text-align: center;
          margin-right: 15px;
          vertical-align: top;
      }
      strong{
          font-size: 16px;
          line-height: 20px;
          color: #438AFB;
      }
      p{
          color: #A9B9C6;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          margin-bottom: 0;
      }
      .contactPhoto{
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 60%;
          height: 100%;
          cursor: pointer;
      }
      .companyLogo{
          opacity: 0;
          position: absolute;
          left: 0;
          top: 0;
          width: 60%;
          height: 100%;
          cursor: pointer;
      }
  }
  .form-group{
      margin-bottom: 1.5rem;
      label{
          color: #323C47;
          font-size: 14px;
          line-height: 18px;
          font-weight: 600;
          margin-bottom: 0;
          display: block;
      }
      .form-group-inner{
          label{
              display: none;
          } 
      }
      .form-control{
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #89898a;
          color: #89898a;
          font-size: 13px;
          line-height: 18px;
          padding: 0.375rem 0;
          width: 100%;
          border-radius: 0;
          text-align: left;
          &.textarea{
              height: 150px;
          }
          &:focus{
              outline: none;
          }
      }
      .add-conatct{
          font-size: 12px;
          font-weight: 600;
          color: #3B7CFF;
          line-height: 18px;
          border: none;
          background: none;
          padding: 0;
      }
      .invalid-feedback{
          color: red;
          font-size: 13px;
          line-height: 16px;
          font-weight: 400;
          display: block;
      }
  }
  .atleast-fields-box{
      border: 1px solid #D1DAE2;
      background-color: #F9F9F9;
      padding: 20px;
      padding-bottom: 0;
      margin-bottom: 20px;
      h3{
          color: #323C47;
          font-size: 15px;
          line-height: 18px;
          font-weight: 600;
          margin-bottom: 20px;
      }
  }
  .form-check{
    padding-right: 10px;
    .form-check-input{
        display: inline-block;
        margin-top: 2px;
    }
    .form-check-label{
        font-size: 14px;
        line-height: 18px;
        color: #323C47;
        font-weight: 600;
        display: inline-block;
        padding-left: 7px;
    }
}
  .contact-popup-buttons{
      button{
          border: 1px solid #A9B9C6;
          background-color: #ffffff;
          color: #89898a;
          font-size: 15px;
          line-height: 36px;
          font-weight: 500;
          padding: 0 30px;
          margin: 5px;
          text-align: center;
          &.save{
              border-color: #3B7CFF;
              background-color: #3B7CFF;
              color: #ffffff;
          }
      }
      
  }
  &.new-ticket-container{
      .form-group{
          label{
              margin-bottom: 5px;
          }
          .form-control{
              border: 1px solid #D1DAE2;
              padding: 0.375rem 0.75rem;
          }
      }
  }
}