@media (max-width: 768px){
    #alert-main-container {
        padding-left: 60px;
    }
}

#alert-main-container a{
    color:black;
}

.plugin-page-container{
    padding: 0px;
    background-color: white;
    height: 100%;
    max-width: 100%;
}

/*************************** Page header ********************/

.page-header-container {
    background-color: #e9f4fc;
    padding: 10px 0px;
    padding-left: 10px;
}

.page-header-container .page-header{
    color: #7a7a7a;
    margin-right: 30px;
    font-size: 19px;
    font-weight: bold;
    padding: 0px !important;
}

.page-header-container .header-button{
    margin-right: 30px;
    color: #7a7a7a;
    border: none;
    background: none;
}

.page-header-container .header-button i{
    padding-right: 10px;
}

.page-header-container .header-button:hover{
    color: #040404 !important;
}

/************************* Filter container ********************/

.filter-container{
    background: #44a9eb;
    padding: 10px 10px 10px 40px;
}

.filter-container label{
    color: white;
}

.filter-container .filter-control-group {
    max-width: 250px;
}

/************************** Forms ***********************/

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label{
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

/************************ alert data table ********************/

.alert-data-table{
    width: 100%;
}

.alert-data-table th {
    color: #737373;
}

.alert-data-table tr{
    border-bottom: 2px solid #b7b8b9;
}

.alert-data-table tr th,.alert-data-table tr td{
    padding: 5px 0px;
}

.colored-label{
    color: #43a8ea;
}

.gray-label{
    color: gray;
}

.bold-label{
    font-weight: 500;
}

.pointer-label{
    cursor: pointer;
}

/*************** Severity *****************/
.severity-urgent{
    border-left: 3px solid #fe0100;
    padding-left: 10px;
}

.severity-critical{
    border-left: 3px solid #ff9800;
    padding-left: 10px;
}

.severity-high{
    border-left: 3px solid #f6fe00;
    padding-left: 10px;
}

.severity-medium{
    border-left: 3px solid #02bcfd;
    padding-left: 10px;
}

.severity-low{
    border-left: 3px solid #0021ff;
    padding-left: 10px;
}

/******************** Progress bar ***************************/

.progress {
    padding-left: 15px;
    height: 20px;
    display: inline-block;
    width: 75%;
    position: absolute;
}

.progress .progress-bar{
    height: 100%;
    background: #fda867;
}