.wide-side-menu .monitor-main-body {
  max-width: 100%;
}

a:focus,
a:hover {
  color: #000000;
}

@media (max-width: 768px) {
  #alert-main-container {
    padding-left: 0px;
  }
}

.d-flex {
  display: flex;
}

.p-l-0 {
  padding-left: 0;
}
.p-r-0 {
  padding-right: 0;
}

/*************************** Page header ********************/

.page-header-container {
  background-color: #e9f4fc;
  padding: 10px 0px;
  padding-left: 10px;
}

.page-header-container .page-header {
  color: #7a7a7a;
  margin-right: 30px;
  font-size: 19px;
  font-weight: bold;
  padding: 0px !important;
}

.page-header-container .header-button {
  margin-right: 30px;
  color: #7a7a7a !important;
  border: none;
  background: none;
}

.page-header-container .header-button i {
  padding-right: 10px;
}

.page-header-container .header-button:hover {
  color: #040404 !important;
}

/************************** Forms ***********************/

.form-row > .col,
.form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.5rem;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.input-group-append,
.input-group-prepend {
  display: -ms-flexbox;
  display: flex;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.input-group > .custom-file,
.input-group > .custom-select,
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}

.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group > .custom-select:not(:first-child),
.input-group > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group-prepend {
  margin-right: -1px;
}

.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

/*************** Severity *****************/

.enabled-disabled-container .enabled {
  width: 8px;
  height: 8px;
  background-color: #7ed321;
  display: inline-block;
  position: relative;
  margin: 5px 0 0 5px;
}

.enabled-disabled-container .enabled:after {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #7ed321;
  border-radius: 50%;
}

.enabled-disabled-container .disabled {
  width: 8px;
  height: 8px;
  background-color: #ff8f00;
  display: inline-block;
  position: relative;
  margin: 5px 0 0 5px;
}

.enabled-disabled-container .disabled:after {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 16px;
  height: 16px;
  content: "";
  border: 1px solid #ff8f00;
  border-radius: 50%;
}

.enabled-disabled-container .text {
  display: inline-block;
  top: 0px;
  position: relative;
  padding-left: 5px;
}

/******************** Progress bar ***************************/

.progress {
  padding-left: 15px;
  height: 20px;
  display: inline-block;
  width: 75%;
  position: absolute;
}

.progress .progress-bar {
  height: 100%;
  background: #fda867;
}

/*********************** popover ****************************/

.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.popover .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.popover .arrow::before,
.popover .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top,
.bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}

.bs-popover-top > .arrow,
.bs-popover-auto[x-placement^="top"] > .arrow {
  bottom: calc(-0.5rem - 1px);
}

.bs-popover-top > .arrow::before,
.bs-popover-auto[x-placement^="top"] > .arrow::before {
  bottom: 0;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-top > .arrow::after,
.bs-popover-auto[x-placement^="top"] > .arrow::after {
  bottom: 1px;
  border-width: 0.5rem 0.5rem 0;
  border-top-color: #fff;
}

.bs-popover-right,
.bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}

.bs-popover-right > .arrow,
.bs-popover-auto[x-placement^="right"] > .arrow {
  left: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-right > .arrow::before,
.bs-popover-auto[x-placement^="right"] > .arrow::before {
  left: 0;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-right > .arrow::after,
.bs-popover-auto[x-placement^="right"] > .arrow::after {
  left: 1px;
  border-width: 0.5rem 0.5rem 0.5rem 0;
  border-right-color: #fff;
}

.bs-popover-bottom,
.bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}

.bs-popover-bottom > .arrow,
.bs-popover-auto[x-placement^="bottom"] > .arrow {
  top: calc(-0.5rem - 1px);
}

.bs-popover-bottom > .arrow::before,
.bs-popover-auto[x-placement^="bottom"] > .arrow::before {
  top: 0;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-bottom > .arrow::after,
.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  top: 1px;
  border-width: 0 0.5rem 0.5rem 0.5rem;
  border-bottom-color: #fff;
}

.bs-popover-bottom .popover-header::before,
.bs-popover-auto[x-placement^="bottom"] .popover-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.bs-popover-left,
.bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}

.bs-popover-left > .arrow,
.bs-popover-auto[x-placement^="left"] > .arrow {
  right: calc(-0.5rem - 1px);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-left > .arrow::before,
.bs-popover-auto[x-placement^="left"] > .arrow::before {
  right: 0;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-left > .arrow::after,
.bs-popover-auto[x-placement^="left"] > .arrow::after {
  right: 1px;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  border-left-color: #fff;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.popover-header:empty {
  display: none;
}

.popover-body {
  padding: 0.5rem 0.75rem;
  color: #212529;
}

/********************** New css ******************************/

.alert-page-container {
  background-color: white;
  margin: 10px 20px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.common-container {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5f6f5;
}

/************************* Filter container ********************/

.filter-container label {
  color: #3b4859;
}

.filter-container .filter-control-group {
  max-width: 250px;
  padding-left: 0px;
}

.filter-container .filter-control-group .form-control,
.primary-select-box {
  background-color: #f0f3f7 !important;
  border: none !important;
}

/***************************** severity ************************/

.severity-urgent {
  border-left: 3px solid #ff0000;
  padding-left: 5px;
}

.severity-critical {
  border-left: 3px solid #ff9800;
  padding-left: 5px;
}

.severity-high {
  border-left: 3px solid #39579a;
  padding-left: 5px;
}

.severity-medium {
  border-left: 3px solid #3b7cff;
  padding-left: 5px;
}

.severity-low {
  border-left: 3px solid #9c80f7;
  padding-left: 5px;
}

/************************ alert data table ********************/

.alert-data-table {
  width: 100%;
  color: #3b4859;
}

.alert-data-table th {
  color: #3b4859;
}

.alert-data-table .alert-data-table-header {
  border-bottom: 1px solid #f8f9fb;
}

.alert-data-table tr:nth-child(even) {
  background-color: #f8f9fb;
}

.alert-data-table tr th,
.alert-data-table tr td {
  padding: 10px 0px 10px 20px;
}

.colored-label {
  color: #43a8ea;
}

.colored-label:hover {
  color: #43a8ea !important;
}

.gray-label {
  color: gray;
}

.primary-color-label {
  color: #3b4859;
}

.bold-label {
  font-weight: 500;
}

.italic-label {
  font-style: italic;
}

.border-bottom {
  border-bottom: 1px solid gray;
}

.border-bottom-dashed {
  border-bottom: 1px dashed #a2c0d4;
}

.pointer-label {
  cursor: pointer;
}

/*********************************** Buttons *********************************/

.alert-blue-button {
  background: #3b7cff;
  color: white;
  border: none;
  padding: 7px 11px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  min-width: 120px;
}

.alert-blue-button:hover {
  background: #0f5efd !important;
}

.alert-gray-button {
  background: #cacaca;
  color: #8b8b8b;
  border: none;
  padding: 7px 11px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  min-width: 120px;
}

.alert-gray-button:hover {
  background: #aaaaaa !important;
  color: #484848 !important;
}

.alert-white-button {
  background: white;
  min-width: 120px;
  color: #3b4859;
  border: none;
  padding: 7px 11px;
  border-radius: 4px;
  margin-right: 10px;
}

.alert-white-button:hover {
  background: #e6e6e6;
  color: #3b4859;
}

.alert-white-button i {
  color: #57a4ff !important;
}

.alert-data-table-container.common-container .alert-data-table {
  font-size: 13px;
}
.alert-data-table-container .alert-data-table tr th,
.alert-data-table-container .alert-data-table tr td {
  padding: 8px 10px 8px 10px;
}
.popover a {
  color: #3b4859;
}
.popover a:hover,
.popover a:focus {
  color: #000000;
}
.alert-data-table-container .alert-data-table .btn-link {
  color: #57a4ff !important;
  padding-left: 5px;
  padding-right: 5px;
}
.alert-data-table-container .alert-data-table .pointer-label {
  position: relative;
  padding-left: 22px;
}
.alert-data-table-container .alert-data-table .pointer-label .checkbox {
  position: absolute;
  left: 0;
  top: 0;
}
