.dashboard-container{
    color: black;
}

.dashboard-container .dashboard-item-container{
    margin-bottom: 30px;
}

.dashboard-container .dashboard-item-container .item-image{
    width: 100%;
    background: #f2f2f2;
}

.dashboard-container .dashboard-item-container .item-header{
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0px;
}

.dashboard-container .dashboard-item-container .item-description{
    font-size: 12px;
}

.dashboard-container .dashboard-header{
    font-size: 27px;
    text-align: center;
}

.dashboard-container .dashboard-description{
    font-size: 13px;
    text-align: center;
    margin-bottom: 50px;
}