.wizard-container{
    margin-right: 20px;
}
.wizard-step-line-container{
    padding: 5px;
    background-color: #F8F9FB;
}
.wizard-step-line-container .wizard-step-button {
    display: inline-block;
    width: 19.9%;
    border-top: 1px solid #707070B5;
    border-bottom: 1px solid #707070B5;
    background-color: #DDE4E9;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 0;
    text-align: center;
    color: #414D55;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.wizard-step-line-container .wizard-step-button:last-child {
    border-right: 1px solid #707070B5;
}
.wizard-step-line-container .wizard-step-button:first-child{
    border-left: 1px solid #707070B5;
}
.wizard-step-line-container .wizard-step-button.active,
.wizard-step-line-container .wizard-step-button:hover {
    background-color: #ffffff;
    color: #2662F0;
}
.wizard-step-line-container .wizard-step-button:after{
    position: absolute;
    top: 1px;
    right: -27px;
    content: '';
    border: solid transparent;
    border-color: rgba(221, 228, 233, 0);
    border-left-color: #dde4e9;
    border-width: 14px;
    margin-top: 0px;
    width: 0;
    height: 0;
    z-index: 1;
}
.wizard-step-line-container .wizard-step-button:before{
    position: absolute;
    top: 1px;
    right: -28px;
    content: '';
    border: solid transparent;
    border-color: rgba(159, 163, 165, 0);
    border-left-color: #9fa3a5;
    border-width: 14px;
    margin-top: 0px;
    width: 0;
    height: 0;
    z-index: 1;
}
.wizard-step-line-container .wizard-step-button.active:after,
.wizard-step-line-container .wizard-step-button:hover:after{
    border-color: rgba(255, 255, 255, 0);
	border-left-color: #ffffff;
}
.wizard-step-line-container .wizard-step-button.active:before,
.wizard-step-line-container .wizard-step-button:hover:before{
    border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
}
.wizard-step-line-container .wizard-step-button:last-child:after,
.wizard-step-line-container .wizard-step-button:last-child:before{
    display: none;
}
.wizard-step-component{
    padding: 20px 10px;
    display: block;
}
.wizard-step-component.d-none{
    display: none;
}

.alert_details .alert_details_name {
    padding-bottom: 25px;
}
.alert_details .alert_details_name label{
    display: block;
    color: #3B4859;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}
.alert_details .alert_details_name select{
    display: block;
    background-color: transparent;
    border: 1px solid #8392A7;
    border-radius: 4px;
    line-height: 24px;
    padding: 0 10px;
    color: #2662F0;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
}
.alert_details .alert_details_description {
    padding-bottom: 25px;
}
.alert_details .alert_details_description label{
    display: block;
    color: #3B4859;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}
.alert_details .alert_details_description textarea{
    display: block;
    background-color: transparent;
    border: 1px solid #8392A7;
    border-radius: 4px;
    line-height: 24px;
    padding: 5px 10px;
    color: #8998AC;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    max-height: 250px;
    height: 250px;
}
.alert_details .alert_details_next{
    text-align: right;
}
.alert_details .alert_details_next .next-btn{
    background-color: #3B7CFF;
    color: #F9FAFC;
    font-weight: 500;
}
.choose_one_box{
    background: #F8F9FB;
    padding: 5px;
    display: inline-block;
}
.choose_one_box span{
    display: inline-block;
    color: #3B4859;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
    padding-left: 10px;
}
.choose_one_box ul{
    display: inline-block;
    padding-left: 10px;
}
.choose_one_box ul li{
    display: inline-block;
}
.choose_one_box ul li a{
    background-color: #DDE4E9;
    display: block;
    border-top: 1px solid #707070B5;
    border-bottom: 1px solid #707070B5;
    border-right: 1px solid #707070B5;
    color: #414D55;
    font-weight: 500;
    padding: 0px 15px;
    color: #3B4859;
    font-weight: 500;
    font-size: 12px;
    line-height: 36px;
}
.choose_one_box ul li.active a,
.choose_one_box ul li a:hover{
    background-color: #ffffff;
    color: #2662F0;
}
.choose_one_box ul li:first-child a{
    border-left: 1px solid #707070B5;
}

.time_series_box{
    background-color: #F8F9FB;
    border: 1px solid #979797;
}
.time_series_box .time_series_header{
    border-bottom: 1px solid #dcdee3;
}
.time_series_box .time_series_header .heading{
    color: #3B4859;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    display: inline-block;
    border-right: 1px solid #dcdee3;
    padding: 15px 0 15px 15px;
}
.time_series_box .time_series_header .heading.retention_policy{
    width: 25%;
}
.time_series_box .time_series_header .heading.measurements{
    width: 37%;
}
.time_series_box .time_series_header .heading.fields{
    width: 37%;
    border-right: none; 
}
.time_series_body .database{
    padding: 15px 0 15px 15px;
    border-right: 1px solid #dcdee3;
    display: inline-block;
    width: 25%;
    min-height: 150px;
    vertical-align: top;
}
.time_series_body .database li{
    color: #3B4859;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px;
    display: block;
}
.time_series_body .database_selected{
    padding: 65px 0 15px 15px;
    border-right: 1px solid #dcdee3;
    display: inline-block;
    width: 37%;
    min-height: 150px;
    color: #3B4859;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
}
.time_series_body .measurement_selected{
    padding: 65px 0 15px 15px;
    display: inline-block;
    width: 37%;
    min-height: 150px;
    color: #3B4859;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
}
.condition_box{
    background-color: #F8F9FB;
    border: 1px solid #979797;
}
.condition_header{
    border-bottom: 1px solid #979797;
    padding: 10px 0px 7px 15px;
}
.condition_header .send_alert_text{
    color: #3B4859;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    display: inline-block;
    padding-right: 5px;
    vertical-align: top;
}
.condition_header .time_series_text{
    display: inline-block;
    background-color: #EFEFEF;
    color: #2662F0;
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    vertical-align: top;
    padding: 0 15px 0 10px;
}
