.monitor-alerts-container .alert-data-container{
    margin: 0px !important;
}

.monitor-alerts-container .alert-data-container .alert-data-block{
    margin-bottom: 10px;
    padding-left: 0px;
}

.monitor-alerts-container .alert-data-container .alert-data-block a{
    display: block;
    padding: 8px;
}

.monitor-alerts-container .alert-data-container .alert-data-block a:hover{
    background: #e8e8e8;
}

.monitor-alerts-container .alert-data-container .alert-data-block .alert-data-label{
    color: #3b4859;
    font-weight: 500;
    font-size: 15px;
}

.monitor-alerts-container .alert-data-container .alert-data-block .alert-data{
    color: #39579a;
    font-size: 30px;
}

.monitor-alerts-container .alert-data-container .alert-data-block .alert-data-meta{
    color: #475363;
    font-size: 11px;
}

.monitor-alerts-container .alert-data-table-container .progress-td{
    width: 50%;
    position: relative;
}

.monitor-alerts-container .alert-data-table-container .progress-label{
    display: inline-block;
    width: 50px;
}